*{
    border-color:gray ;
    margin: 0%;
    padding: 0%;
    background-color:rgb(0, 1, 2);
}
#nav-bar{
    background-color: black;
    height: 5em;
    width: 100%;
    display:flex;
   justify-content: center;

}
#login{
    background-color: rgb(76, 76, 209);
    text-decoration: none;
    padding: 1em 6em;
    font-size: 4ch;
    border-radius: 5em;
}
#profile{
    text-decoration: none;
    padding: 1em 6em;
    font-size: 4ch;
    border-radius: 5em;

}
#items{
    text-decoration: none;
    padding: 1em 6em;
    font-size: 4ch;
    border-radius: 5em;

}
#contact{
    text-decoration: none;
    padding: 1em 6em;
    font-size: 4ch;
    border-radius: 5em;

}
#btn{
    color: white;
    background-color:rgb(0, 187, 103);
    align-items:flex-end ;
    border-radius: 10em;
    padding: 1em 6em;

}
#btn:hover{
    background-color:rgb(76, 182, 15);
}
a:hover{
    background-color:white;
    cursor: pointer;
}
a:active{
    background-color: rgb(184, 184, 137);
}
#img{
    cursor: pointer;
}
#name{
    color:red;
background-color: white;
}
#roll{
    color: red;
    background-color: white;
}
#age{
    color: red;
    background-color: white;

}
#fname{
    color: red;
    background-color: white;

}
#tab{
    color: white;
}
#t{
    height: 30em;
    justify-content: center;
    display: flex;
    text-decoration: none;
    text-align: center;
}
#lo{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    width: 30em;
    border-radius: 3em;
    border: 3px solid green;
}
#lo:hover{
    background-color: rgb(30, 39, 16);}
#lo:active{
    background-color: greenyellow;
}
#div{
    
    padding:0em 65em;
    
}
